body {
    background-color: black;
    color: #aaaaaa;
    font-size: 50px;
}

.glitch {
    position: relative;
}


.glitch::before {
    content: attr(data-text);
    position: absolute;
    /* variation */
    text-shadow: -1px 0 red;
    color: red;
    left: -2px;
    clip: rect(0px, 450px, 30px, 0);
    animation: noise-anim-1 2s infinite linear alternate-reverse;
    background: black;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    /* variation */
    left: 2px;
    text-shadow: -1px 0 blue;
    color: blue;
    clip: rect(20px, 450px, 40px, 0);
    animation: noise-anim-2 2s infinite linear alternate-reverse;
    background: black;
}

@keyframes noise-anim-1 {
    0% {
        clip-path: inset(40% 0 61% 0);
    }
    20% {
        clip-path: inset(92% 0 1% 0);
    }
    40% {
        clip-path: inset(43% 0 1% 0);
    }
    60% {
        clip-path: inset(25% 0 58% 0);
    }
    80% {
        clip-path: inset(54% 0 7% 0);
    }
    100% {
        clip-path: inset(58% 0 43% 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip-path: inset(92% 0 1% 0);
    }
    20% {
        clip-path: inset(40% 0 61% 0);
    }
    40% {
        clip-path: inset(43% 0 1% 0);
    }
    60% {
        clip-path: inset(58% 0 43% 0);
    }
    80% {
        clip-path: inset(25% 0 58% 0);
    }
    100% {
        clip-path: inset(54% 0 7% 0);
    }
}