#musicButton {
    z-index: 10;
    color: #4e51e7;
    font-family: "Courier 10 Pitch";
}

.indexBody {
    /*background-image: url("./pics/big-corruption.png");*/
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.indexMenu {
    text-align: left;
    margin: 30px;
    /*margin-left: 400px;*/
}

.indexMenu .wip {
    color: yellow;
    font-size: 25px;
    font-family: SquareWave;
}

.indexMenu span {
    font-family: Motorstrike;
    font-size: 50px;
    text-shadow: 0 0 10px #000000, 0 0 30px #000000;
}

.contactButton {
    position: absolute;
    bottom: 0;
}

.contactButton span {
    font-family: SquareWave;
    font-size: 35px;
}

.menu-span {
    margin-top: 50px;
    margin-bottom: 50px;
}
