#musicButton {
    z-index: 10;
    color: #4e51e7;
    font-family: "Courier 10 Pitch";
}

.indexBody {
    background-image: url("./pics/big-corruption.png");
    height: 100%;
    width: 100%;
    position: absolute;
}

.indexMenu {
    text-align: left;
    margin: 30px;
}

.indexMenu span {
    font-family: Motorstrike;
    font-size: 50px;
    text-shadow: 0 0 10px #300d6c, 0 0 30px #4e1858;
}

.contactButton {
    position: absolute;
    bottom: 0;
}

.contactButton span {
    font-family: SquareWave;
    font-size: 35px;
}

.menu-span {
    margin-top: 50px;
    margin-bottom: 50px;
}