body {
    background-color: #000000;
    margin: 0;
    width: 100%;
    color: #7300d7;
}

.canvas-container {
    height: 100%;
    width: 100%;
    position: relative;
    /*background-color: #005e87;*/
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #00a2d7;*/
}

.row div{
    display: inline-block;
}


.overlay {
    background-color: transparent;
    /*position: absolute;*/
    z-index: 100;
}

.clicableP {
    z-index: 100;
    cursor: pointer;
}

.clicableP:hover {
    color: violet;
}

.returnButton {
    position: absolute;
    margin: 1em;
}

.returnButton p {
    margin: 0;
}


@font-face {
    font-family: Masterblast;
    src: url(./fonts/Masterblast.otf);
}

@font-face {
    font-family: MetalChakra;
    src: url(./fonts/MetalChakra.ttf);
}

@font-face {
    font-family: Motorstrike;
    src: url(./fonts/Motorstrike.otf);
}

@font-face {
    font-family: SquareWave;
    src: url(./fonts/Squarewave.ttf);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #4e51e7;
}