body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
}

.canvas-container {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: relative;
    /*background-color: #005e87;*/
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #00a2d7;*/
}

.row div {
    display: inline-block;
}


.overlay {
    background-color: transparent;
    /*position: absolute;*/
    z-index: 100;
}

.downloadButton {
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    right: 280px;
    z-index: 100;
    position: absolute;
    top: 2px;
    color: #832ad0;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.clicableP {
    z-index: 100;
    cursor: pointer;
}

.clicableP:hover {
    color: yellow;
    text-shadow: 0 0 2px yellow, 0 0 30px #000000;
}

.returnButton {
    font-family: Masterblast;
    position: absolute;
    margin: 1em;
}

.returnButton p {
    margin: 0;
    color: #7300d7;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .returnButton p {
        font-size: 40px;
    }
}

.returnButton p:hover {
    margin: 0;
    color: yellow;
}


@font-face {
    font-family: Masterblast;
    src: url(./fonts/Masterblast.otf);
}

@font-face {
    font-family: MetalChakra;
    src: url(./fonts/MetalChakra.ttf);
}

@font-face {
    font-family: Motorstrike;
    src: url(./fonts/Motorstrike.otf);
}

@font-face {
    font-family: SquareWave;
    src: url(./fonts/Squarewave.ttf);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #4e51e7;
}