html, body {
    height: 100%;
    overflow: hidden;
}

.loading {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    text-align: center;
}

#loading {
    font-family: SquareWave;
    font-size: 40px;
    color: #832ad0;
}
