

.achievement {
    z-index: 100;
    width: 400px;
    height: 80px;
    background: rgba(86, 80, 80, 0.5);
    position: relative;
    font-family: SquareWave;
    font-size: 25px;
    border-radius: 60px;
    display: block;
    color: #ffffff;
    margin: 0 auto;
    overflow:hidden;
    transition: all 1s ease;
}

.achievement-initial-pos {
    top: -200px;
}
.achievement-show-pos {
    top: 20px;
    transition: all 1s ease;
}

.achievement-fade-away {
    width: 120vw;
    height: 0px;
}


.achievement-content {
    margin: 0;
    position: relative;
    left: 50%;
    top: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.achievement p {
    margin: 0;
}

.achievement-title {
    font-size: 30px;
    padding-bottom: 10px;
}
