body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(212, 52, 52); !* Fallback color *!*/
    /*background-color: rgb(103, 90, 215); !* Black w/ opacity *!*/
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #c10c0c;
    text-decoration: none;
    cursor: pointer;
}