body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
}

#helpModal {
    left: 50px;
    bottom: 50px;
}

#goalModal {
    left: 50px;
    top: 50px;
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
}

.modal-content span {
    font-size: 30px;
    font-family: Ubuntu;
    color: #aaaaaa;
}

.help-button {
    display: none;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #c10c0c;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}