body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    display: none;
}

#helpModal {
    left: 50px;
    bottom: 50px;
}

#goalModal {
    left: 50px;
    top: 50px;
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
}

.modal-content span {
    font-size: 30px;
    color: #aaaaaa;
    font-family: Ubuntu;
}

.help-button {
    bottom: 7px;
    left: 7px;
    position: fixed;
    display: block;
    /*background-color: #c10c0c;*/
    border: 2px solid #aaaaaa;
    border-radius: 6px;
    font-family: Ubuntu;
    color: #aaaaaa;
    z-index: 1;
}
 .help-button:hover {
     color: azure;
 }

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #c10c0c;
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 30px;
    height: 30px;
}

