body {
    /*background-color: #c10c0c;*/
}

.blog-content {
    width: 800px;
    margin: 0 auto;
    font-family: SquareWave;
    /*font-family: Ubuntu;*/
    font-size: 28px;
    margin-top: 60px;
    position: relative;
    background-color: black;
}

.blog-entry {
    padding: 50px;
    border: 1px dashed yellow;
    background-color: #000000;
    margin-top: 100px;
}

.blog-entry img {
    display: block;
    margin: auto;
    max-height: 50%;
    max-width: 50%;
    border: 0.5px solid yellow;
    cursor: pointer;
}

.blog-entry img:hover {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 30px #ccc;
}

.blog-title {

}

.blog-date {
    text-align: right;
    color: yellow;
    float: right;
}

.blog-date:hover {
    text-shadow: 0 0 3px #ff0000;
}

.signature {
}

.censored:hover {
    color: inherit;
}

.shiny {
    color: yellow;
}

.shiny:hover {
    color: yellow;
    text-shadow: 0 0 3px yellow;
}

.strange {
    color: #a500ff;
}

.strange:hover {
    color: #a500ff;
    text-shadow: 0 0 6px #a500ff;
}

.black-hover:hover {
    color: black;
}


.censored {
    color: black;
}

.blog-footer {
    padding-bottom: 100px;
}

#tv {
    position: relative;
    width: 350px;
    height: 550px;
    background: white;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    color: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
}
#tv:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}
