body {
    /*background-color: #c10c0c;*/
}

.blog-content {
    width: 800px;
    margin: 0 auto;
    font-family: SquareWave;
    /*font-family: Ubuntu;*/
    font-size: 28px;
    margin-top: 60px;
    position: relative;
    background-color: black;
}

.blog-entry {
    padding: 50px;
    border: 1px dashed yellow;
    background-color: #000000;
}

.blog-title {

}

.blog-date {
    text-align: right;
    color: yellow;
    float: right;
}

.blog-date:hover {
    text-shadow: 0 0 3px #ff0000;
}

.signature {
}

a {
    color: yellow;
    text-decoration: inherit; /* no underline */
}

a:hover {
    text-shadow: 0 0 3px yellow;
}