body {
    /*background-color: #c10c0c;*/
}

.blog-content {
    width: 800px;
    margin: 0 auto;
    font-family: SquareWave;
    /*font-family: Ubuntu;*/
    font-size: 28px;
    margin-top: 60px;
    position: relative;
    background-color: black;
}

.blog-entry {
    padding: 50px;
    border: 1px dashed yellow;
    background-color: #000000;
    margin-top: 100px;
}

.blog-title {

}

.blog-date {
    text-align: right;
    color: yellow;
    float: right;
}

.blog-date:hover {
    text-shadow: 0 0 3px #ff0000;
}

.signature {
}

.censored:hover {
    color: inherit;
}

.shiny {
    color: yellow;
}

.shiny:hover {
    color: yellow;
    text-shadow: 0 0 3px yellow;
}

.strange {
    color: #a500ff;
}

.strange:hover {
    color: #a500ff;
    text-shadow: 0 0 6px #a500ff;
}

.black-hover:hover {
    color: black;
}


.censored {
    color: black;
}

.blog-footer {
    padding-bottom: 100px;
}


.blog-entry img {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    max-height: 100%;
    max-width: 100%;
    /*border: 0.5px solid yellow;*/
    cursor: pointer;
}

.tv {
    position: relative;
    border: 0.5px solid yellow;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    transition: all .4s ease;
    box-shadow: 20px 20px rgba(255, 255, 0, 1);
}
.tv:hover {
    box-shadow: none;
    border: none;

}
